@page "/Budgets"
@using Model
@using Interfaces
@inject IBudgetService BudgetService
@inject IClientService ClientService
@inject IEmployeeService EmployeeService
@inject IBudgetDetailsService BudgetDetailsService
@inject ICurrencyService CurrencyService
@inject IInvoiceTypeService InvoiceTypeService

@using Syncfusion.Blazor.Notifications

@using Microsoft.AspNetCore.Http

@inject AuthenticationStateProvider AuthenticationStateProvider


@attribute [Authorize(Roles = "Administrators, Sales,Services")]
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids
@using System.Collections.ObjectModel
@inject NavigationManager NavigationManager
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs;
@using Syncfusion.Blazor.Calendars;
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Popups
@using System.Dynamic


@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<style>
    .e-list-settings:before {
        content: "\e679";
    }

    .e-list-print:before {
        content: "\e743";
    }

    .e-list-save:before {
        content: "\e74d";
    }

    .e-list-saveas:before {
        content: "\e72b";
    }

    .e-list-delete:before {
        content: "\e33e";
    }

    .e-list-undo:before {
        content: "\e752";
    }

    .e-list-edit:before {
        content: "\e7a3";
    }


    .e-plus-icon::before {
        content: '\e823';
    }
</style>



<div class="container-fluid">
    <p>@Message</p>
    <span class="error">@ErrorDetails</span>


    <div class="col-lg-12" style="padding:1px; height:50px">
        <div class="content-wrapper">
            <div class="alert alert-title" role="banner"><b>Presupuestos</b></div>
        </div>
    </div>


    <div class="col-lg-12 control-section">
        <div class="content-wrapper">
            <div class="row">
                @if (GridData == null)
                {
                    <div class="alert alert-warning" role="alert"><p><em>Cargando datos...</em></p></div>
                }
                else
                {
                    @*<SfButton OnClick="ExcelExport" Content="Excel Export"></SfButton>*@
                    <SfGrid TValue="Budget" ID="Grid" @ref="Grid" AllowPaging="true" Toolbar="@ToolbarItems" DataSource="@GridData" AllowExcelExport="true" ShowColumnChooser="true" AllowTextWrap="true" AllowFiltering="true" AllowSorting="true">
                        <GridEvents OnActionBegin="OnBeginHandler" OnActionComplete="ActionCompletedHandler" TValue="Budget" OnToolbarClick="ToolbarClickHandler" OnRecordDoubleClick="RecordDoubleClickHandler"></GridEvents>
                        <GridPageSettings PageSize="30"></GridPageSettings>
                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>

                        <GridEditSettings AllowAdding="@UserPermissions.CanCreate" AllowEditing="@UserPermissions.CanEdit" AllowDeleting="@UserPermissions.CanDelete" Mode="EditMode.Dialog" Dialog="DialogParams">
                            <HeaderTemplate>
                                @{
                                    var budg = (context as Budget);
                                }
                                <span>Detalle de presupuesto: @(budg.nro_presupuesto)</span>
                            </HeaderTemplate>
                            <Template>
                                @{
                                    var budg = context as Budget;
                                    if (budg.fecha == t)
                                        budg.fecha = hoy;
                                }
                                <div>
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <SfNumericTextBox @bind-Value="@(budg.id_presupuesto)" Enabled="false" Placeholder="ID" FloatLabelType="FloatLabelType.Always"></SfNumericTextBox>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <SfTextBox @bind-Value="@(budg.nro_presupuesto)" Enabled="true" Placeholder="Nro. factura" FloatLabelType="FloatLabelType.Always"> </SfTextBox>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <SfDropDownList DataSource="@currencies"
                                                            TItem="Currency"
                                                            TValue="Int32"
                                                            @bind-Value="@(budg.id_moneda)"
                                                            Placeholder="Moneda"
                                                            FloatLabelType="FloatLabelType.Always" AllowFiltering="true" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains">
                                                <DropDownListFieldSettings Value="id_moneda" Text="moneda"></DropDownListFieldSettings>
                                            </SfDropDownList>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <SfDatePicker TValue="DateTime" @bind-Value="@(budg.fecha)" Format="dd/MM/yyyy" Enabled="true" Placeholder="Fecha" FloatLabelType="FloatLabelType.Always"> </SfDatePicker>
                                        </div>
                                        <div class="form-group col-md-8">
                                            <SfDropDownList DataSource="@clients" ID="ClientDropDown"
                                                            TItem="Client"
                                                            TValue="Int32?"
                                                            @bind-Value="@(budg.id_cliente)"
                                                            Placeholder="Cliente"
                                                            FloatLabelType="FloatLabelType.Always" AllowFiltering="true" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains">
                                                <DropDownListFieldSettings Value="id_cliente" Text="razon_social"></DropDownListFieldSettings>
                                            </SfDropDownList>
                                        </div>
                                        <div class="form-group col-md-1">
                                            <SfButton CssClass="e-round" IconCss="e-icons e-plus-icon" IsPrimary="true" OnClick="ShowNewClientDialog"></SfButton>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <SfTextBox @bind-Value="@(budg.plazo_entrega)" Enabled="true" Placeholder="Plazo de entrega" FloatLabelType="FloatLabelType.Always"></SfTextBox>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <SfTextBox @bind-Value="@(budg.forma_pago)" Enabled="true" Placeholder="Forma de pago" FloatLabelType="FloatLabelType.Always"></SfTextBox>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <SfDropDownList DataSource="@invoiceTypes"
                                                            TItem="InvoiceType"
                                                            TValue="Int32"
                                                            @bind-Value="@(budg.id_condicion_venta)"
                                                            Placeholder="Tipo factura"
                                                            FloatLabelType="FloatLabelType.Always" AllowFiltering="true" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains">
                                                <DropDownListFieldSettings Value="id_condicion_venta" Text="condicion"></DropDownListFieldSettings>
                                            </SfDropDownList>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <SfTextBox @bind-Value="@(budg.observaciones)" Enabled="true" Placeholder="Observaciones" FloatLabelType="FloatLabelType.Always" Multiline="true"></SfTextBox>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <SfTextBox @bind-Value="@(budg.obra)" Enabled="true" Placeholder="Obra" FloatLabelType="FloatLabelType.Always"></SfTextBox>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <SfDropDownList DataSource="@LocalMotivo"
                                                            TItem="Motivo"
                                                            TValue="string"
                                                            @bind-Value="@(budg.motivo)"
                                                            Placeholder="Motivo"
                                                            FloatLabelType="FloatLabelType.Always">
                                                <DropDownListFieldSettings Value="ID" Text="Text"></DropDownListFieldSettings>
                                            </SfDropDownList>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <SfTextBox @bind-Value="@(budg.contacto)" Enabled="true" Placeholder="Contacto" FloatLabelType="FloatLabelType.Always"></SfTextBox>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <SfTextBox @bind-Value="@(budg.direccion_entrega)" Enabled="true" Placeholder="Dirección de entrega" FloatLabelType="FloatLabelType.Always"></SfTextBox>
                                        </div>
                                    </div>

                                </div>
                            </Template>
                        </GridEditSettings>
                        <GridColumns>
                            <GridColumn HeaderText="Editar" Width="10">
                                <GridCommandColumns>
                                    <GridCommandColumn Type="CommandButtonType.Edit" ButtonOption="@(new CommandButtonOptions() { IconCss = "e-icons e-list-edit", CssClass = "e-flat" })"></GridCommandColumn>
                                </GridCommandColumns>
                            </GridColumn>
                            <GridColumn HeaderText="Eliminar" Width="10">
                                <Template>
                                    @{
                                        var budg = (context as Budget);
                                        <SfButton Disabled="@(!CanDeleteBudget(budg))" IconCss="e-icons e-list-delete" CssClass="e-outline" OnClick="@(()=>Del(budg))"></SfButton>
                                    }
                                </Template>
                            </GridColumn>
                            <GridColumn Field=@nameof(Budget.id_presupuesto) HeaderText="ID" Width="15" IsPrimaryKey="true"></GridColumn>
                            <GridColumn Field=@nameof(Budget.nro_presupuesto) HeaderText="#Fact." Visible="true" Width="20"></GridColumn>
                            <GridColumn Field=@nameof(Budget.estado_venta) HeaderText="Est. facturación" Visible="true" Width="30"></GridColumn>
                            <GridColumn Field=@nameof(Budget.vendedor) HeaderText="Usuario" Width="20" Visible="true"></GridColumn>
                            <GridColumn Field=@nameof(Budget.cliente) HeaderText="Cliente" Width="40"></GridColumn>
                            <GridColumn Field=@nameof(Budget.moneda) HeaderText="Mon." Width="15" Visible="false"></GridColumn>
                            <GridColumn Field=@nameof(Budget.fecha) HeaderText="Fecha" Format="dd/MM/yyyy" Width="15"></GridColumn>
                            <GridColumn Field=@nameof(Budget.estado) Width="30" HeaderText="Est. venta">
                                <Template>
                                    @{
                                        var budg = (context as Budget);
                                        if (budg.estado != null)
                                        {
                                            if (budg.estado.ToUpper() == "GENERADO")
                                            {
                                                <h6><span class="badge bg-primary">@budg.estado</span></h6>
                                            }
                                            else if (budg.estado.ToUpper() == "PENDIENTE")
                                            {
                                                <h6><span class="badge bg-secondary">@budg.estado</span></h6>
                                            }
                                            else if (budg.estado.ToUpper() == "APROBADO")
                                            {
                                                <h6><span class="badge bg-success">@budg.estado</span></h6>
                                            }
                                            else if (budg.estado.ToUpper() == "FACTURADO")
                                            {
                                                <h6><span class="badge bg-danger">@budg.estado</span></h6>
                                            }
                                            else if (budg.estado.ToUpper() == "REMITIDO")
                                            {
                                                <h6><span class="badge bg-warning text-dark">@budg.estado</span></h6>
                                            }
                                            else if (budg.estado.ToUpper() == "PRESTAMO")
                                            {
                                                <h6><span class="badge bg-secondary">@budg.estado</span></h6>
                                            }
                                            else if (budg.estado.ToUpper() == "IMPORTADO")
                                            {
                                                <h6><span class="badge bg-light text-dark">@budg.estado</span></h6>
                                            }
                                            else
                                            {
                                                <h6><span class="badge bg-light bg-dark">@budg.estado</span></h6>
                                            }

                                        }
                                    }
                                </Template>
                            </GridColumn>
                            <GridColumn Field=@nameof(Budget.direccion_entrega) HeaderText="Entregar en" Visible="false" Width="25"></GridColumn>
                            <GridColumn Field=@nameof(Budget.contacto) HeaderText="Contacto" Visible="false" Width="15"></GridColumn>
                            <GridColumn Field=@nameof(Budget.condicion) HeaderText="T. fact." Visible="false" Width="15"></GridColumn>
                            <GridColumn Field=@nameof(Budget.obra) HeaderText="Obra" Visible="false" Width="15"></GridColumn>
                            <GridColumn Field=@nameof(Budget.motivo) HeaderText="Motivo" Visible="true" Width="20"></GridColumn>

                        </GridColumns>
                    </SfGrid>
                }

            </div>
        </div>

    </div>

    <SfDialog Width="510px" IsModal="true" @bind-Visible="@IsNewClientVisible">
        <DialogEvents OnOverlayClick="@OnOverlayclick">
        </DialogEvents>
        <DialogTemplates>
            <Content>
                <div class="row">
                    <div class="col-12">
                        <h5>Nuevo cliente.</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <SfTextBox Placeholder="Nombre del cliente" FloatLabelType="@FloatLabelType.Auto" @bind-Value="@NewClientName"></SfTextBox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <SfTextBox Placeholder="RUC" FloatLabelType="@FloatLabelType.Auto" @bind-Value="@NewClientRUC"></SfTextBox>
                    </div>
                </div>

            </Content>
        </DialogTemplates>
        <DialogButtons>
            <DialogButton Content="OK" IsPrimary="true" OnClick="@NewClient" />
            <DialogButton Content="Cancel" IsPrimary="true" OnClick="@OnOverlayclick" />
        </DialogButtons>
    </SfDialog>


    <SfDialog Target="#target"
              Width="300px"
              Height="130px"
              IsModal="true"
              ShowCloseIcon="false"
              @bind-Visible="DeleteRecordConfirmVisibility">
        <DialogTemplates>
            <Header> Eliminar el registro? </Header>
            <Content>
                <div class="button-container">
                    <button type="submit"
                            class="e-btn e-normal e-primary"
                            @onclick="ConfirmDeleteYes">
                        Yes
                    </button>
                    <button type="submit"
                            class="e-btn e-normal"
                            @onclick="ConfirmDeleteNo">
                        No
                    </button>
                </div>
            </Content>
        </DialogTemplates>
    </SfDialog>

    <SfToast @ref="ToastObjOk" Title="Exito!" Content="El registro se eleminó correctamente." CssClass="@ToastCssClass">
        <ToastPosition X="Right" Y="Bottom"></ToastPosition>
    </SfToast>
    <SfToast @ref="ToastObjError" Title="Error!" Content="No se pudo elminar el registro." CssClass="@ToastCssClass">
        <ToastPosition X="Right" Y="Bottom"></ToastPosition>
    </SfToast>


</div>


@code {

    public string Message { get; set; }
    public string[] ToolbarItems = new string[] { "Add", "Edit", "Update", "Cancel", "ExcelExport", "Search", "ColumnChooser" };
    public string ErrorDetails = "";

    public IEnumerable<Budget> GridData { get; set; }
    public IEnumerable<Client> clients { get; set; }
    public IEnumerable<Employee> employees { get; set; }
    public IEnumerable<Currency> currencies { get; set; }
    public IEnumerable<InvoiceType> invoiceTypes { get; set; }

    public DateTime hoy = DateTime.Today;
    public DateTime t;

    SfGrid<Budget> Grid { get; set; }

    private DialogSettings DialogParams = new DialogSettings { Width = "850px", EnableResize = true, AllowDragging = true };

    public string UserName;

    public bool IsNewClientVisible { get; set; } = false;
    public string NewClientName = "";
    public string NewClientRUC = "";


    public Int32 BudgetID;
    public Int32 ClientDropDownValue { get; set; }

    SfToast ToastObjOk;
    SfToast ToastObjError;

    public bool DeleteRecordConfirmVisibility { get; set; } = false;


    private string ToastCssClass = "";





    public class Motivo
    {
        public string ID { get; set; }
        public string Text { get; set; }
    }

    List<Motivo> LocalMotivo = new List<Motivo> {
    new Motivo() { ID= "MONTAJE", Text= "MONTAJE" },
    new Motivo() { ID= "MUESTRA", Text= "MUESTRA" },
    new Motivo() { ID= "VENTA", Text= "VENTA" },
  };


    public void Del(Budget budget)
    {
        BudgetID = budget.id_presupuesto;
        Grid.DeleteRecord("id_presupuesto", budget);
    }

    private bool CanDeleteBudget(Budget budget)
    {
        if (budget.estado.ToUpper() == "PENDIENTE")
        {
            return true;
        }
        else if (budget.estado.ToUpper() == "GENERADO")
        {
            return true;
        }
        else
        {
            return false;
        }
    }

    private void OnOverlayclick(MouseEventArgs arg)
    {
        this.IsNewClientVisible = false;
    }

    public void ShowNewClientDialog()
    {
        NewClientName = "";
        NewClientRUC = "";
        this.IsNewClientVisible = true;
    }

    protected async Task NewClient()
    {
        // Create new Client
        Client c = new Client();
        c.nombres = NewClientName.ToUpper();
        c.razon_social = NewClientName.ToUpper();
        c.ruc = NewClientRUC;
        c.cliente_exento = "NO";
        c.id_funcionario = GetEmployeeID(UserName);


        Int32 idClient = await ClientService.SaveClient(c);

        if (!UserPermissions.CanViewAllClients)
        {
            clients = await ClientService.GetAllClientsByUserName(UserName);
        }
        else
        {
            clients = await ClientService.GetAllClients();
        }



        Budget b = await BudgetService.GetBudgetDetails(BudgetID);
        b.id_cliente = idClient;
        await BudgetService.SaveBudget(b);
        GridData = await BudgetService.GetAllBudgetsByUserName(UserName, UserPermissions.CanViewOnlyOwned);
        Grid.Refresh();

        await Task.Delay(200);

        var IX = await Grid.GetRowIndexByPrimaryKey(BudgetID);
        await Grid.SelectRow(IX);
        await Grid.StartEdit();


        this.IsNewClientVisible = false;
    }

    //Authorization UserPermissions
    AuthorizationMatrix UserPermissions = new AuthorizationMatrix();

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private async Task AuthorizeUser(AuthorizationMatrix m)
    {
        var user = (await authenticationStateTask).User;

        if (!user.Identity.IsAuthenticated)
        {
            m.CanView = false;
            m.CanViewOnlyOwned = true;
            m.CanEdit = false;
            m.CanCreate = false;
            m.CanDelete = false;
            m.CanViewAllClients = false;
        }

        if (user.IsInRole("Administrators"))
        {
            // Perform an action only available to users in the 'admin' role.
            m.CanView = true;
            m.CanViewOnlyOwned = false;
            m.CanEdit = true;
            m.CanCreate = true;
            m.CanDelete = true;
            m.CanViewAllClients = true;
        }
        else if (user.IsInRole("Sales"))
        {
            m.CanView = true;
            m.CanViewOnlyOwned = true;
            m.CanEdit = true;
            m.CanCreate = true;
            m.CanDelete = false;
            m.CanViewAllClients = false;
        }
        else if (user.IsInRole("Services"))
        {
            m.CanView = true;
            m.CanViewOnlyOwned = true;
            m.CanEdit = true;
            m.CanCreate = true;
            m.CanDelete = true;
            m.CanViewAllClients = true;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {

            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;

            string[] subs = user.Identity.Name.Split("@");
            UserName = subs[0];

            await AuthorizeUser(UserPermissions);

            GridData = await BudgetService.GetAllBudgetsByUserName(UserName, UserPermissions.CanViewOnlyOwned);

            if (!UserPermissions.CanViewAllClients)
            {
                clients = await ClientService.GetAllClientsByUserName(UserName);
            }
            else
            {
                clients = await ClientService.GetAllClients();
            }


            employees = await EmployeeService.GetAllEmployees();
            currencies = await CurrencyService.GetAllCurrencies();
            invoiceTypes = await InvoiceTypeService.GetAllInvoiceTypes();


        }
        catch (Exception ex)
        {
            Message = "Error al obtener presupuestos [OnInitializedAsync] : " + ex.Message;
        }
    }

    public async Task ConfirmDeleteYes()
    {

        // Delete the record
        var result = await DeleteBudget(BudgetID);

        // Close the dialog
        this.DeleteRecordConfirmVisibility = false;


        if (result)
        {
            await ShowToast(0);
        }
        else
        {
            await ShowToast(1);
        }

        await Refresh();
    }


    private async Task Refresh()
    {
        GridData = await BudgetService.GetAllBudgetsByUserName(UserName, UserPermissions.CanViewOnlyOwned);
        Grid.Refresh();
    }

    public void ConfirmDeleteNo()
    {
        this.DeleteRecordConfirmVisibility = false;
    }

    private async Task OnBeginHandler(ActionEventArgs<Budget> Args)
    {
        try
        {
            if (Args.RequestType == Syncfusion.Blazor.Grids.Action.Save)
            {
                await SaveBudget((Budget)Args.Data);
            }
            else if (Args.RequestType == Syncfusion.Blazor.Grids.Action.Delete)
            {
                // Open Delete confirmation dialog
                this.DeleteRecordConfirmVisibility = true;
                StateHasChanged();
            }
            else if (Args.RequestType == Syncfusion.Blazor.Grids.Action.Add)
            {
                Budget b = new Budget();
                Client c = await ClientService.GetDefaultClientDetails();

                b.id_cliente = c.id_cliente;
                b.id_moneda = 1;
                b.motivo = "MONTAJE";
                b.id_condicion_venta = 2;
                b.fecha = DateTime.Now;

                Int32 id = await SaveBudget(b);

                Navigate(id);
            }
            else if (Args.RequestType == Syncfusion.Blazor.Grids.Action.BeginEdit)
            {
                BudgetID = ((Budget)Args.Data).id_presupuesto;
            }


            return;
        }
        catch (Exception ex)
        {
            Message = "Error al obtener presupuestos [OnBeginHandler]: " + ex.Message + " Inner.: " + ex.InnerException;
            throw ex;
        }
    }

    private async Task ActionCompletedHandler(ActionEventArgs<Budget> Args)
    {
        if (Args.RequestType == Syncfusion.Blazor.Grids.Action.Save || Args.RequestType == Syncfusion.Blazor.Grids.Action.Delete)
        {
            await Refresh();
        }
    }


    protected async Task<Int32> SaveBudget(Budget budget)
    {
        try
        {
            budget.id_funcionario = GetEmployeeID(UserName);
            int id = await BudgetService.SaveBudget(budget);
            return id;
        }
        catch (Exception ex)
        {
            Message = "Error al registrar presupuesto: " + ex.Message;
            throw ex;
        }
    }

    protected async Task<bool> DeleteBudget(int id)
    {
        var result = await BudgetService.DeleteBudget(id);
        return result.IsSuccessStatusCode;
    }

    public async Task ToolbarClickHandler(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        if (args.Item.Id == "Grid_excelexport") //Id is combination of Grid's ID and itemname
        {
            ExcelExportProperties ExcelProperties = new ExcelExportProperties();
            ExcelProperties.FileName = "Presupuestos.xlsx";
            await this.Grid.ExcelExport(ExcelProperties);
        }

    }

    public Int32 GetEmployeeID(string username)
    {
        int id;
        try
        {
            id = employees.First(c => c.usuario == username).id_funcionario;
            return id;
        }
        catch (Exception ex)
        {
            Message = "Error al obtener ID de usuario : " + ex.Message;
            return 1;
        }
    }

    public void RecordDoubleClickHandler(RecordDoubleClickEventArgs<Budget> args)
    {
        Navigate(((Budget)args.RowData));
    }

    private void Navigate(Budget budget)
    {
        NavigationManager.NavigateTo($"/BudgetDetails/{budget.id_presupuesto}");
    }

    private void Navigate(int id)
    {
        NavigationManager.NavigateTo($"/BudgetDetails/{id}");
    }

    private async Task ShowToast(int ix)
    {
        if (ix == 0)
        {
            await Task.Delay(100);

            await this.ToastObjOk.Show();
        }
        else
        {
            await this.ToastObjError.Show();
        }
    }



    private async Task HideToast()
    {
        await this.ToastObjOk.Hide("All");
        await this.ToastObjError.Hide("All");
    }


}


