@page "/LittleBoxes"
@using Model
@using Interfaces
@inject ILittleBoxService LittleBoxService

@inject IEmployeeService EmployeeService

@using Microsoft.AspNetCore.Http

@inject AuthenticationStateProvider AuthenticationStateProvider


@attribute [Authorize]
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids
@using System.Collections.ObjectModel
@inject NavigationManager NavigationManager
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs;
@using Syncfusion.Blazor.Calendars;
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Popups

<style>
    .e-list-settings:before {
        content: "\e679";
    }

    .e-list-print:before {
        content: "\e743";
    }

    .e-list-save:before {
        content: "\e74d";
    }

    .e-list-saveas:before {
        content: "\e72b";
    }

    .e-list-delete:before {
        content: "\e773";
    }

    .e-list-undo:before {
        content: "\e197";
    }

    .e-list-edit:before {
        content: "\e7a3";
    }
</style>

<div class="container-fluid">
    <p>@Message</p>
    <span class="error">@ErrorDetails</span>

    <div class="col-lg-12" style="padding:1px; height:50px">
        <div class="content-wrapper">
            <div class="alert alert-title" role="banner"><b>Cajas Chicas</b></div>
        </div>
    </div>


    <div class="col-lg-12 control-section">
        <div class="content-wrapper">
            <div class="row">
                @if (GridData == null)
                {
                    <div class="alert alert-warning" role="alert"><p><em>Cargando datos...</em></p></div>
                }
                else
                {
                    <SfGrid TValue="LittleBox" ID="Grid" @ref="Grid" AllowPaging="true" Toolbar="@ToolbarItems" DataSource="@GridData" AllowExcelExport="true" ShowColumnChooser="true" AllowTextWrap="true" AllowFiltering="true">
                        <GridEvents OnActionBegin="OnBeginHandler"
                                    OnActionComplete="ActionCompletedHandler"
                                    TValue="LittleBox"
                                    OnToolbarClick="ToolbarClickHandler"
                                    OnRecordDoubleClick="RecordDoubleClickHandler"
                                    CommandClicked="OnCommandClicked">

                        </GridEvents>
                        <GridPageSettings PageSize="30"></GridPageSettings>
                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>

                        <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="EditMode.Dialog" Dialog="DialogParams">
                            <HeaderTemplate>
                                @{
                                    var little = (context as LittleBox);
                                }
                                <span>Detalle de caja chica: @(little.id_caja_chica)</span>
                            </HeaderTemplate>
                            <Template>
                                @{
                                    var little = (context as LittleBox);
                                    if (little.fecha_apertura == t)
                                        little.fecha_apertura = hoy;
                                }
                                <div>
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <SfNumericTextBox @bind-Value="@(little.id_caja_chica)" Enabled="false" Placeholder="ID" FloatLabelType="FloatLabelType.Always"></SfNumericTextBox>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <SfDatePicker @bind-Value="@(little.fecha_apertura)" Enabled="true" Placeholder="Fecha apertura" FloatLabelType="FloatLabelType.Always"> </SfDatePicker>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <SfDatePicker @bind-Value="@(little.fecha_cierre)" Enabled="false" Placeholder="Fecha cierre" FloatLabelType="FloatLabelType.Always"> </SfDatePicker>
                                        </div>

                                    </div>
                                    @*<div class="form-row">

                                            <div class="form-group col-md-9">
                                                <SfDropDownList DataSource="@employees"
                                                                TItem="Employee"
                                                                TValue="Int32"
                                                                @bind-Value="@(little.id_funcionario)"
                                                                Placeholder="Responsable"
                                                                FloatLabelType="FloatLabelType.Always" AllowFiltering="true" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains">
                                                    <DropDownListFieldSettings Value="id_funcionario" Text="usuario"></DropDownListFieldSettings>
                                                </SfDropDownList>
                                            </div>
                                        </div>*@
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <SfTextBox @bind-Value="@(little.nro_comprobante)" Enabled="true" Placeholder="Comprobante" FloatLabelType="FloatLabelType.Always"></SfTextBox>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <SfNumericTextBox @bind-Value="@(little.monto_apertura)" Enabled="true" Placeholder="Monto apertura" FloatLabelType="FloatLabelType.Always"></SfNumericTextBox>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <SfNumericTextBox @bind-Value="@(little.saldo_inicial)" Enabled="false" Placeholder="Saldo inicial" FloatLabelType="FloatLabelType.Always"></SfNumericTextBox>
                                        </div>

                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <SfTextBox @bind-Value="@(little.aprobador)" Enabled="false" Placeholder="Aprobador" FloatLabelType="FloatLabelType.Always"></SfTextBox>
                                        </div>
                                    </div>




                                </div>
                            </Template>
                        </GridEditSettings>
                        <GridColumns>
                            <GridColumn HeaderText="*" Width="10">
                                <GridCommandColumns>
                                    <GridCommandColumn Type="CommandButtonType.Edit" ButtonOption="@(new CommandButtonOptions() {IconCss="e-icons e-list-edit", CssClass="e-flat" })"></GridCommandColumn>
                                    <GridCommandColumn Type="CommandButtonType.None" ButtonOption="@(new CommandButtonOptions() {IconCss="e-icons e-list-undo", CssClass="e-flat" })" Title="Cerrar caja"></GridCommandColumn>
                                </GridCommandColumns>
                            </GridColumn>
                            <GridColumn Field=@nameof(LittleBox.id_caja_chica) HeaderText="ID" TextAlign="TextAlign.Center" Width="10" IsPrimaryKey="true"></GridColumn>
                            <GridColumn Field=@nameof(LittleBox.fecha_apertura) HeaderText="Apertura" Visible="true" Width="10" Format="dd/MM/yyyy"></GridColumn>
                            <GridColumn Field=@nameof(LittleBox.fecha_cierre) HeaderText="Cierre" Width="10" Visible="false" Format="dd/MM/yyyy"></GridColumn>
                            <GridColumn Field=@nameof(LittleBox.nro_comprobante) HeaderText="#Comp." Width="10"></GridColumn>
                            <GridColumn Field=@nameof(LittleBox.saldo_inicial) HeaderText="Saldo inic." Width="15" Format="N0"></GridColumn>
                            <GridColumn Field=@nameof(LittleBox.monto_apertura) HeaderText="Monto apert." Width="15" Format="N0"></GridColumn>
                            <GridColumn Field=@nameof(LittleBox.usuario) HeaderText="Responsable" Width="15"></GridColumn>
                            <GridColumn Field=@nameof(LittleBox.aprobador) HeaderText="Aprobador" Width="15"></GridColumn>
                            <GridColumn Field=@nameof(LittleBox.estado) HeaderText="Estado" Width="15"></GridColumn>
                            <GridColumn Field=@nameof(LittleBox.saldo) HeaderText="Saldo" Width="15" Format="N0"></GridColumn>

                        </GridColumns>
                    </SfGrid>
                }

            </div>
        </div>

        <SfDialog Width="400px" Height="200px" IsModal="true" @bind-Visible="@IsMessageVisible" ShowCloseIcon="true">
            <DialogEvents OnOverlayClick="@OnOverlayclick">
            </DialogEvents>

            <DialogTemplates>
                <Header>
                    <h1><b>Mensaje del sistema.</b></h1>
                </Header>
                <Content>
                    <div class="col-12">
                        <b>@SystemMessage</b>
                    </div>
                </Content>

            </DialogTemplates>

        </SfDialog>
    </div>

</div>


@code {
    //public IEnumerable<LittleBox> clients { get; set; }
    public string Message { get; set; }
    public string SystemMessage { get; set; }

    public string[] ToolbarItems = new string[] { "Add", "Edit", "Delete", "Update", "Cancel", "ExcelExport", "Search", "ColumnChooser" };
    public string ErrorDetails = "";

    private bool IsMessageVisible { get; set; } = false;

    public IEnumerable<LittleBox> GridData { get; set; }

    public IEnumerable<Employee> employees { get; set; }


    public DateTime hoy = DateTime.Today;
    public DateTime t;

    SfGrid<LittleBox> Grid { get; set; }

    private DialogSettings DialogParams = new DialogSettings { Width = "850px", EnableResize = true, AllowDragging = true };

    public string UserName;
    public string Estado;

    private void OnOverlayclick(MouseEventArgs arg)
    {
        this.IsMessageVisible = false;
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            GridData = await LittleBoxService.GetAllLittleBoxs();

            employees = await EmployeeService.GetAllEmployees();



            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;

            string[] subs = user.Identity.Name.Split("@");
            UserName = subs[0];
        }
        catch (Exception ex)
        {
            Message = "Error al obtener caja chicas [OnInitializedAsync] : " + ex.Message;
        }
    }



    private async Task OnBeginHandler(ActionEventArgs<LittleBox> Args)
    {
        try
        {
            if (Args.RequestType == Syncfusion.Blazor.Grids.Action.Save)
            {
                await SaveLittleBox((LittleBox)Args.Data);
            }
            else if (Args.RequestType == Syncfusion.Blazor.Grids.Action.Delete)
            {
                await DeleteLittleBox(((LittleBox)Args.Data).id_caja_chica);
            }

            return;
        }
        catch (Exception ex)
        {
            Message = "Error al obtener caja chica [OnBeginHandler]: " + ex.Message + " Inner.: " + ex.InnerException;
            throw ex;
        }
    }



    private async Task ActionCompletedHandler(ActionEventArgs<LittleBox> Args)
    {
        if (Args.RequestType == Syncfusion.Blazor.Grids.Action.Save || Args.RequestType == Syncfusion.Blazor.Grids.Action.Delete)
        {
            await RefreshGrid();
        }

    }

    protected async Task RefreshGrid()
    {
        GridData = await LittleBoxService.GetAllLittleBoxs();
        Grid.Refresh();
    }

    public async void OnCommandClicked(CommandClickEventArgs<LittleBox> args)
    {
        var item = args.RowData;
        var command = args.CommandColumn;

        if (command.Title == "Cerrar caja")
        {
            item.estado = "CERRADO";
            await LittleBoxService.SaveLittleBox(item);
            await RefreshGrid();
        }

    }

    protected async Task SaveLittleBox(LittleBox littleBox)
    {
        try
        {
            littleBox.id_funcionario = GetEmployeeID(UserName);
            if (littleBox.id_caja_chica == 0)
            {
                //Check if there any Opened LittleBox
                foreach (LittleBox l in GridData)
                {
                    if (l.id_funcionario == littleBox.id_funcionario && l.estado == "ABIERTO")
                    {
                        SystemMessage = "Favor cerrar las cajas abiertas.";
                        IsMessageVisible = true;
                        return;
                    }
                }

                littleBox.saldo_inicial = GetRestAmmount();
                //CloseUserOpenLittleBoxes();
                littleBox.estado = "ABIERTO";
            }

            //Create the new LittleBox
            await LittleBoxService.SaveLittleBox(littleBox);

            //Transfer Saldos
            foreach (LittleBox l in GridData)
            {
                if (l.id_funcionario == littleBox.id_funcionario && l.estado == "CERRADO")
                {
                    l.estado = "TRANSFERIDO";
                    await LittleBoxService.SaveLittleBox(l);
                }
            }

        }
        catch (Exception ex)
        {
            Message = "Error al registrar caja chica: " + ex.Message;
            throw ex;
        }
    }

    protected async void CloseUserOpenLittleBoxes()
    {
        int IdFuncionario = GetEmployeeID(UserName);
        foreach (LittleBox l in GridData)
        {
            if (l.id_funcionario == IdFuncionario && l.estado == "ABIERTO")
            {
                l.estado = "CERRADO";
                await LittleBoxService.SaveLittleBox(l);
            }
        }
    }

    protected decimal GetRestAmmount()
    {
        decimal RestAmmount = 0;
        int IdFuncionario = GetEmployeeID(UserName);

        foreach (LittleBox l in GridData)
        {

            if (l.id_funcionario == IdFuncionario && l.estado == "CERRADO")
            {
                RestAmmount += l.saldo;
            }

        }

        return RestAmmount;
    }

    protected async Task DeleteLittleBox(int id)
    {
        await LittleBoxService.DeleteLittleBox(id);
    }

    public async Task ToolbarClickHandler(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        if (args.Item.Id == "Grid_excelexport") //Id is combination of Grid's ID and itemname
        {
            ExcelExportProperties ExcelProperties = new ExcelExportProperties();
            ExcelProperties.FileName = "CajasChicas.xlsx";
            await this.Grid.ExcelExport(ExcelProperties);
        }

    }

    public Int32 GetEmployeeID(string username)
    {
        int id;
        try
        {
            id = employees.First(c => c.usuario == username).id_funcionario;
            return id;
        }
        catch (Exception ex)
        {
            Message = "Error al obtener ID de usuario : " + ex.Message;
            return 1;
        }
    }

    public void RecordDoubleClickHandler(RecordDoubleClickEventArgs<LittleBox> args)
    {
        Navigate(((LittleBox)args.RowData));
    }

    private void Navigate(LittleBox littleBox)
    {
        NavigationManager.NavigateTo($"/BoxDetails/{littleBox.id_caja_chica}");
    }


}


